@media (max-width: 1200px) {
  body {
    width: 100%;
  }

  .logo-nav {
    width: 10%;
  }
  .caja-img {
    width: 30rem;
    height: 20rem;
  }

  .main-img {
    gap: 20px;
  }

  .main-img h2 {
    font-size: 28px;
    height: 20%;
  }

  .main-img a {
    padding: 3px;
    font-size: 14px;
  }

  .main-img img {
    width: 100%;
  }

  .caja-info {
    height: 20rem;
    width: 20rem;
  }

  .main-info {
    gap: 0px;
  }

  .main-info p {
    padding: 0px;
    font-size: 14px;
  }

  .main-info h1 {
    font-size: 32px;
    height: 50%;
  }
  #beneficios {
    padding: 10px;
  }

  .caja-about {
    height: 20rem;
    width: 15rem;
  }

  .about {
    padding: 10px;
    margin: 20px;
  }

  .about-info {
    gap: 10px;
  }
  .about-info img {
    width: 30%;
  }

  .about-info h3 {
    font-size: 20px;
    height: 80px;
  }

  .about-info p {
    font-size: 14px;
  }
  .product-gral {
    gap: 30px;
  }

  .product-div {
    gap: 50px;
  }
  .product {
    gap: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .caja-product {
    height: 15rem;
    width: 10rem;
  }

  .product-elementos {
    gap: 5px;
  }

  .product-elementos img {
    width: 65%;
  }

  .product-elementos h4 {
    font-size: 12px;
  }

  .product-elementos p {
    font-size: 16px;
  }

  .product-elementos button {
    padding: 3px;
    margin-bottom: 0px;
  }

  .product-elementos a {
    font-size: 12px;
  }
  #footer {
    gap: 20px;
  }

  .contacto {
    width: 100%;
  }

  .list-contact {
    height: 10rem;
    width: 100%;
    gap: 10px;
    margin-top: 5%;
  }

  .list-contact h2 {
    font-size: 32px;
  }

  .list-contact-info a {
    font-size: 20px;
  }

  .list-Redes {
    height: 10rem;
    width: 100%;
    gap: 10px;
    margin-top: 5%;
  }

  .list-Redes h2 {
    font-size: 32px;
  }

  .list-redes-info a {
    font-size: 20px;
  }

  .list-redes-info img {
    width: 20px;
  }
  iframe {
    width: 25rem;
    height: 15rem;
  }

  #footer span {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  body {
    width: 100%;
  }

  #header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo-nav {
    width: 100px;
  }

  .nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .nav-content a {
    font-size: 18px;
  }
  .nav-content .user,
  .nav-content .cart {
    width: 70%;
  }

  #main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .caja-img {
    width: 400px;
    height: 300px;
  }

  .main-img {
    gap: 20px;
  }

  .main-img h2 {
    font-size: 28px;
  }

  .main-img a {
    padding: 3px;
    font-size: 14px;
  }

  .main-img img {
    width: 100%;
  }

  .caja-info {
    height: 300px;
    width: 300px;
  }

  .main-info {
    gap: 0px;
  }

  .main-info p {
    padding: 0px;
    font-size: 14px;
  }

  .main-info h1 {
    font-size: 32px;
  }

  #beneficios {
    padding: 10px;
  }

  .caja-about {
    height: 20rem;
    width: 13rem;
  }

  .about {
    padding: 10px;
    margin: 20px;
  }

  .about-info {
    gap: 5px;
  }

  .about-info h3 {
    font-size: 20px;
    height: 80px;
  }

  .about-info p {
    font-size: 16px;
  }

  .product-gral {
    gap: 30px;
  }

  .product-div {
    gap: 50px;
  }
  .product {
    gap: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .caja-product {
    height: 250px;
    width: 150px;
  }

  .product-elementos {
    gap: 5px;
  }

  .product-elementos img {
    width: 75%;
  }

  .product-elementos h4 {
    font-size: 14px;
  }

  .product-elementos p {
    font-size: 18px;
  }

  .product-elementos button {
    padding: 3px;
    margin-bottom: 0px;
  }

  .product-elementos a {
    font-size: 12px;
  }

  .contacto {
    width: 100%;
  }

  .list-contact {
    height: 10rem;
    width: 100%;
    gap: 10px;
  }

  .list-contact h2 {
    font-size: 32px;
  }

  .list-contact-info a {
    font-size: 20px;
  }

  .list-Redes {
    height: 10rem;
    width: 100%;
    gap: 10px;
  }

  .list-Redes h2 {
    font-size: 32px;
  }

  .list-redes-info a {
    font-size: 20px;
  }

  .list-redes-info img {
    width: 20px;
  }
  iframe {
    width: 15rem;
    height: 15rem;
  }

  #footer span {
    font-size: 14px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  body {
    width: 100%;
  }

  #header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo-nav {
    width: 90px;
  }

  .nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }

  .nav-content a {
    font-size: 14px;
  }
  .nav-content .user,
  .nav-content .cart {
    width: 60%;
  }

  #main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 110px;
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px;
  }

  .caja-img {
    width: 300px;
    height: 230px;
  }

  .main-img {
    gap: 10px;
  }
  .main-img img {
    width: 100%;
  }

  .main-img h2 {
    font-size: 24px;
  }

  .main-img a {
    padding: 3px;
    font-size: 14px;
  }

  .caja-info {
    height: 230px;
    width: 230px;
  }

  .main-info {
    gap: 0px;
  }

  .main-info p {
    padding: 0px;
    font-size: 12px;
  }

  .main-info h1 {
    font-size: 26px;
  }

  #beneficios {
    padding: 10px;
  }

  .caja-about {
    height: 12rem;
    width: 9.8rem;
  }

  .about {
    padding: 10px;
    margin: 20px;
  }

  .about-info {
    gap: 10px;
  }

  .about-info img {
    width: 25%;
  }

  .about-info h3 {
    font-size: 14px;
    height: 40px;
  }

  .about-info p {
    font-size: 10px;
  }
  #productos {
    padding: 10px;
  }

  .product-gral {
    gap: 40px;
  }

  .product-div {
    gap: 15%;
  }

  .caja-product {
    height: 14rem;
    width: 10rem;
  }
  .product-div h3 {
    width: 15%;
  }

  .product {
    gap: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .product-elementos {
    gap: 5px;
  }

  .product-elementos img {
    width: 70%;
  }

  .product-elementos h4 {
    font-size: 10px;
  }

  .product-elementos p {
    font-size: 14px;
  }

  .product-elementos button {
    padding: 3px;
    margin-bottom: 0px;
  }

  .product-elementos a {
    font-size: 12px;
  }

  .list-contact {
    height: 20%;
    width: 100%;
    gap: 10px;
  }

  .list-contact h2 {
    font-size: 22px;
  }

  .list-contact-info a {
    font-size: 14px;
  }

  .list-Redes {
    height: 20%;
    width: 100%;
    gap: 10px;
  }

  .list-Redes h2 {
    font-size: 22px;
  }

  .list-redes-info a {
    font-size: 14px;
  }

  .list-redes-info img {
    width: 20px;
  }
  .contacto {
    width: 100%;
    height: 10rem;
  }
  iframe {
    width: 15rem;
    height: 15rem;
  }

  #footer {
    padding: 20px;
    gap: 15px;
  }

  #footer span {
    font-size: 16px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  body {
    width: 100%;
  }

  #header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo-nav {
    width: 20%;
  }

  .nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .navbar-list li a {
    font-size: 16px;
    font-weight: 800;
  }

  .nav-info ul {
    background-color: white;
    width: 100%;
    height: calc(100vh - 110px);
    position: absolute;
    top: 105px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20%;
    /* display: flex; */
    transform: translateX(200%);
    transition: all 0.4s ease-out;
  }
  .nav-info i {
    display: block;
  }
  #toggle-menu:checked ~ .navbar-list {
    /* display: none; */
    transform: translateX(0%);
    transition: all 0.4s ease-in;
  }

  .nav-content a {
    font-size: 12px;
    /* display: none; */
  }
  .nav-content .user,
  .nav-content .cart {
    width: 60%;
  }

  #main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    /* width: 150%; */
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 0px;
  }

  .caja-img {
    width: 18rem;
    height: 12rem;
  }

  .main-img {
    gap: 10px;
  }

  .main-img img {
    width: 15rem;
  }

  .main-img h2 {
    font-size: 24px;
  }

  .main-img a {
    padding: 3px;
    font-size: 14px;
  }

  .caja-info {
    height: 12rem;
    width: 18rem;
  }

  .main-info {
    gap: 0px;
  }

  .main-info p {
    padding: 0px;
    font-size: 12px;
  }

  .main-info h1 {
    font-size: 26px;
  }

  #beneficios {
    padding: 10%;
    /* width: 100%; */
  }

  .other {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    gap: 0;
  }

  .caja-about {
    height: 10rem;
    width: 10rem;
  }

  .about-info {
    gap: 5px;
  }

  .about-info h3 {
    font-size: 12px;
    height: 2rem;
  }

  .about-info p {
    font-size: 10px;
  }

  .about-info img {
    width: 20%;
  }

  .categories {
    gap: 4%;
  }

  .categories li {
    padding: 3px;
  }

  .categories li a {
    font-size: 12px;
  }

  .product-gral {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .product-div {
    gap: 20px;
  }

  .product-div h3 {
    font-size: 10px;
    width: 25%;
  }

  .caja-product {
    height: 10rem;
    width: 7rem;
  }

  .product {
    gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .product-elementos img {
    width: 60%;
  }

  .product-elementos h4 {
    font-size: 9px;
  }

  .product-elementos p {
    font-size: 10px;
  }

  .product-elementos button {
    padding: 1px;
    margin-bottom: 3px;
  }

  .product-elementos a {
    font-size: 8px;
  }

  .contacto {
    width: 90%;
    gap: 10px;
    bottom: 0px;
  }

  .list-contact {
    height: 8rem;
    width: 7rem;
    gap: 1rem;
  }

  .list-contact h2 {
    font-size: 12px;
  }

  .list-contact-info a {
    font-size: 8px;
  }

  .list-contact-info ul {
    height: 5rem;
  }

  .list-Redes {
    height: 8rem;
    width: 7rem;
    gap: 1rem;
  }

  .list-Redes h2 {
    font-size: 12px;
  }

  .list-redes-info ul {
    height: 5rem;
  }

  .list-redes-info a {
    font-size: 8px;
  }

  .list-redes-info img {
    width: 10%;
    margin-left: 30%;
  }
  iframe {
    width: 12rem;
    height: 12rem;
    margin-bottom: 10%;
  }

  #footer {
    padding: 10px;
  }

  #footer span {
    font-size: 10px;
  }
}
